.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    background-color: #fdbd1280;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    padding: 15px;
}

/* Styling for the left section */
.left {
    width: 40%;
    padding: 10px;
}

.left img {
    width: 100%;
    border: none;
    border-radius: 25px;
    object-fit: contain;
}

/* Styling for the right section */
.right {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    color: #1e1e1e;
}

.right h1 {
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    color: #1e1e1e;
}


/* Styling for advantages section */
.advantages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.advantage1, .advantage2, .advantage3, .advantage4 {
    background-color: #0cbdf580;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 5px;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
}

