.reviews{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    background-color: #fefae0 ;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */

}

.cta{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    
}

.logo{
    width: 60px;
    height: 60px;
}

.cta h1{
    padding: 0px;
    margin: 0px;

}
.review{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.review input{
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-radius: 10px;
}

.review button{
    padding: 4px;
    margin-top: 15px;
    height: 30px;
    width: 120px;
    background-color: #dda15e;
    border: 1px;
    border-radius: 5px;
    color: #fefae0;
    font-size: 18px;
}

