.link-menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.menu-items{
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}